{% extends 'main.twig' %}

{% block content %}
    <strong>About</strong>
    <h2>My Website Learning</h2>

    <p>Here is the place where I will put all of my projects that I am learning.</p>
{% endblock content %}

