{% extends 'main.twig' %}

{% block stylesheet %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/comments.css">
{% endblock stylesheet %}

{% block content %}


<div class="container" id="toDoListModule">
    <h3 class="heading">Comments and Responses</h3>
        <p><!-- This is the ADD ITEM part of the program-->


            


            <div id="comment-name" class="form-row">
                <input type = "text" placeholder = "Name (required)" name = "dname"  id = "name" >
            </div>
            <div id="comment-email" class="form-row">
                <input type = "text" placeholder = "Mail (will not be published) (required)" name = "demail"  id = "email">
            </div>
            <div id = "comment-message" class="textarea-container">
              <textarea name = "comment" placeholder = "Message" id = "comment"></textarea>
              <div class="textarea-size"></div>
            </div>
           {#  <div id="comment-message" class="form-row">
                <textarea name = "comment" placeholder = "Message" id = "comment" ></textarea>
            </div> #}
            <!--Submit Comment Button-->
            <button id="commentSubmit">Submit Comment</button>
        </p>
        <h3><span id="todoHTML"></span> Comments</h3><!--This is the part where the added/unticked todo items go -->
        <ul id="incomplete-tasks">
        </ul>
        <a href="#">
            <input type = "text" value = "reply" name = "dreply" id = "inner_reply">
        </a>
</div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/comments.js"></script>
{% endblock content %}


